body {
  margin: 0px;
}
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;

  border: none;
  margin: 0.25rem 0.25rem;

  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #f5a8a8;
  cursor: pointer;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

.hidden {
  display: none;
}

.tiktok {
  border: 0px;
  height: 765px;
  min-width: 310px;
  max-width: 350px;
  overflow: hidden;
  padding: 0px;
}

#paginated-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#previous-next-container,
#previous-next-container2 {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.niktok {
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 30px;
}

iframe {
  overflow: hidden;
}
#pagination-numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
